.header {
    padding-top: 30px;
    margin-bottom: 78px;
}
.container_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lang-list {
    display: flex;
    align-items: center;
}

.lang-list__link {
    display: inline-block;
    padding-bottom: 5px;
    font-size: 24px;
    line-height: 1;
    border-bottom: 2px solid transparent;
}

.lang-list__link:hover, .lang-list__item.active a {
    border-bottom-color: white;
}

.lang-list__item {
    margin-left: 18px;
}

.lang-list__item:first-child{
    margin-left: 0;
}